*.o
/Makefile
/autom4te.cache
/config.log
/config.status
/configure~
/debian/.debhelper
/debian/autoreconf.after
/debian/autoreconf.before
/debian/debhelper-build-stamp
/debian/files
/debian/rollo-cups-driver*
/rastertorollo
/rollo-cups-driver_*.orig
